/* .footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
background-color: #56dae4;
font: black;
margin-bottom: 0%;
} */

.footer {
    bottom: 0;
    margin: 0 auto !important;
    text-align: right !important;
    padding: 2%;
    width: 100% !important;
    height: 40px;
    position: absolute;
    background-color: #56dae4;
}